
body {
    font-family: "Dancing Script", cursive; /* Cambia la fuente */
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: #f7aefc;
    font-weight: bold;
}
a:hover {
    color: #e761cc;
}